body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
}

.container {
  margin-top: 50px;
}

h1 {
  color: #ff007f;
}

img {
  width: 300px;
  height: auto;
  margin: 20px 0;
}

p {
  color: #333;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #ff007f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ff0055;
}
